Flask==0.10.1
Flask-Babel==0.9
Flask-Bootstrap==3.3.2.1
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
alembic==0.7.0
SQLAlchemy==0.9.9
celery==3.1.17
pyalsaaudio==0.7
redis==2.10.3
htpasswd==2.0
urllib3==1.10.2
requests==2.6.0
psutil==2.2.1
gunicorn==19.3.0
py-jack==0.5.2
