{% extends "base.html" %}
{% block body_container %}

<h2>Direct Call</h2>

<form action="" method="post" name="dial" class="form-inline" role="form">
    {{form.hidden_tag()}}

    <div class="form-group">
        {{form.number(size=35, class='form-control', placeholder='Enter number or SIP address')}}
    </div>

    <div class="form-group">
        {{form.accounts(class='form-control')}}
    </div>
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-earphone"></span> Dial
    </button>
</form>

<hr />
<h2>Active Calls</h2>
{% if g.oncall %}
<p>
<a href="/calls/hangup" class="btn btn-success"><i class="icon-play icon-white"></i> Cancel call</a>
</p>

<pre>
{{baresip}}
</pre>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#connection" aria-expanded="false" aria-controls="connection">
details 
</button>
<div class="collapse" id="connection">
	  <div class="well">
		  {{baresip_details}}
 	  </div>
</div>

{% endif %}


{% endblock %}
