{% extends "base.html" %}
{% block body_container %}

<h2>Direct Call</h2>

<form class="form-inline" role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter number or SIP address" size="25" />
    </div>
    <div class="form-group">
        <select class="form-control">
            {% if ipv6 %}
            <option value="0">Local IPv6</option>
            {% endif %}
            {% for account in accounts %}
            <option value="{{account.id}}">{{ account.name }}</option>
            {%endfor%}
        </select>
    </div>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span> Dial</button>
</form>

<hr />
<h2>Call History</h2>

{% endblock %}
