{% extends "base.html" %}
{% block body_container %}

<h1>Alsa</h1>

<p><a href="/mixers/play/" class="btn btn-success"><i class="icon-play icon-white"></i> Playback Test</a></p>

{{ _('Device') }}:
<form>
    <select onchange="top.location.href=this.form.device.options[this.form.device.selectedIndex].value" name="device">
    {% for device in devices %}
    <option{% if device == card %} selected="selected"{% endif %} value="/mixers/{{ device }}">{{ device }}</option>
    {% endfor %}
    </select>
</form>


<h2>{{ _('Playback') }}</h2>
<div class="row">
{% for volume, value in volumes.items() recursive %}
<div class="span2">
      <div style="clear:both;"></div>
      <h3>{{ volume }}</h3>
    <div id="eq">
        {% for lkey, lvalue  in value.items() recursive %}
        {% if (lkey == "levels") %}
            {% for pegel in lvalue %}
            <div style="float:left; margin:15px">
                <span id="levelplay{{ value['mixer'] }}{{ loop.index0 }}" style="height: 200px; float:left;"></span>
            </div>
            <script>
                $(function() {
                    // setup graphic EQ
                    $( "#levelplay{{ value['mixer'] }}{{ loop.index0 }} }}" ).slider({
                            value: "{{ pegel }}",
                            range: "min",
            			    step: 5,
                            animate: true,
                            orientation: "vertical",
                            slide: function( event, ui ) {
                                $.get("/mixers/volume/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/"+ui.value);
                            }
                        });
                });
            </script>
            {% endfor %}
            {% endif %}
      <div style="clear:both;"></div>
        {% if (lkey == "mutes") %}
            {% for mute in lvalue %}
            <p style="float:left; margin-left:15px;margin-right:15px"><input id="muteplay{{ value['mixer'] }}{{ loop.index0 }}" type="checkbox" {% if mute %}checked{% endif %}></p>
            <script>
                $(function() {
                    $( "#muteplay{{ value['mixer'] }}{{ loop.index0 }}" ).change(
                        function(e){
                            if ($(this).is(':checked')) {
                                $.get("/mixers/muteplay/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/1");
                            } else {
                                $.get("/mixers/muteplay/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/0");
                            }
                    });
                });
            </script>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>

<h2>Capture</h2>
{% endblock %}
