{% extends "base.html" %}
{% block body_container %}

<h1>Mixers</h1>

<h2>{{ _('Playback') }}</h2>
<div class="row">
{% for volume, value in playbacks.items() recursive %}
<div class="col-md-2">
      <div style="clear:both;"></div>
      <h3>{{ volume }}</h3>
    <div id="eq">
        {% for lkey, lvalue  in value.items() recursive %}
        {% if (lkey == "levels") %}
            {% for pegel in lvalue %}
            <div style="float:left; margin:15px">
                <span id="levelplay{{ value['mixer'] }}{{ loop.index0 }}" style="height: 200px; float:left;"></span>
            </div>
            <script>
                $(function() {
                    // setup graphic EQ
                    $( "#levelplay{{ value['mixer'] }}{{ loop.index0 }}" ).slider({
                            value: "{{ pegel }}",
                            range: "min",
            			    step: 5,
                            animate: true,
                            orientation: "vertical",
                            change: function( event, ui ) {
                                $.get("/mixers/volume/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/"+ui.value+"/playback");
                            }
                        });
                });
            </script>
            {% endfor %}
            {% endif %}
      <div style="clear:both;"></div>
        {% if (lkey == "mutes") %}
            {% for mute in lvalue %}
            <p style="float:left; margin-left:15px;margin-right:15px"><input id="muteplay{{ value['mixer'] }}{{ loop.index0 }}" type="checkbox" {% if mute %}checked{% endif %}>M</p>
            <script>
                $(function() {
                    $( "#muteplay{{ value['mixer'] }}{{ loop.index0 }}" ).change(
                        function(e){
                            if ($(this).is(':checked')) {
                                $.get("/mixers/mute/playback/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/1");
                            } else {
                                $.get("/mixers/mute/playback/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/0");
                            }
                    });
                });
            </script>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>

<h2>Capture</h2>
<div class="row">
{% for volume, value in captures.items() recursive %}
<div class="col-md-2">
      <div style="clear:both;"></div>
      <h3>{{ volume }}</h3>
    <div id="eq">
        {% for lkey, lvalue  in value.items() recursive %}
        {% if (lkey == "levels") %}
            {% for pegel in lvalue %}
            <div style="float:left; margin:15px">
                <span id="levelcap{{ value['mixer'] }}{{ loop.index0 }}" style="height: 200px; float:left;"></span>
            </div>
            <script>
                $(function() {
                    // setup graphic EQ
                    $( "#levelcap{{ value['mixer'] }}{{ loop.index0 }}" ).slider({
                            value: "{{ pegel }}",
                            range: "min",
            			    step: 5,
                            animate: true,
                            orientation: "vertical",
                            change: function( event, ui ) {
                                $.get("/mixers/volume/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/"+ui.value+"/capture");
                            }
                        });
                });
            </script>
            {% endfor %}
            {% endif %}
      <div style="clear:both;"></div>
        {% if (lkey == "mutes") %}
            {% for mute in lvalue %}
            <p style="float:left; margin-left:15px;margin-right:15px"><input id="mutecap{{ value['mixer'] }}{{ loop.index0 }}" type="checkbox" {% if mute %}checked{% endif %}>R</p>
            <script>
                $(function() {
                    $( "#mutecap{{ value['mixer'] }}{{ loop.index0 }}" ).change(
                        function(e){
                            if ($(this).is(':checked')) {
                                $.get("/mixers/mute/capture/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/1");
                            } else {
                                $.get("/mixers/mute/capture/{{ card }}/{{ value['mixer'] }}/{{ loop.index0 }}/0");
                            }
                    });
                });
            </script>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
