{% extends "base.html" %}
{% block body_container %}

<h1>Peers</h1>

<p><a href="{{ url_for('peers.add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> New Peer</a></p>

{% if peers %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Host</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for peer in peers %}
    <tr>
        <td>{{ peer.name }}</td>
        <td>{{ peer.host }}</td>
        <td>
            {% if peer.status == 0 %}
            <span class="label label-warning">
                <abbr title="The Peer has not accept your request">Pending</abbr>
            </span>
            {% elif peer.status == 1 %}
            <span class="label label-success">Online</span>
            {% elif peer.status == 2 %}
            <span class="label label-default">Offline</span>
            {% elif peer.status == 3 %}
            <span class="label label-danger">Busy</span>
            {% elif peer.status == 4 %}
            <span class="label label-info">Invite</span>
            {% endif %}
        </td>
        <td>
            <p>
            {% if peer.status == 1 %}
            <a href="/peers/call/{{ peer.id }}"class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-earphone"></span> Call</a>
            {% elif peer.status == 4 %}
            <a href="/peers/accept/{{ peer.id }}"class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-circle"></span> Accept Invite</a>
            {% endif %}
            {% if peer.status == 1 or peer.status == 2 %}
            <a href="/peers/edit/{{ peer.id }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            {% endif %}
            <a href="/peers/delete/{{ peer.id }}" class="btn btn-danger btn-sm delete-button"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
            </p>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
No entries here so far...
{% endif %}


<script>
 $(document).ready(function() {
     $('.delete-button').click(function() {
         var answer = confirm("Are you sure you want delete this item?");
         if (answer) {
             return true;
         } else {
             return false;
         }
     });
 });
</script>
{% endblock %}
