{% extends "base.html" %}
{% block body_container %}

<h1>Peers</h1>

<p><a href="{{ url_for('peers.add') }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> New Peer</a></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Host</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for peer in peers %}
    <tr>
        <td>{{ peer.name }}</td>
        <td>{{ peer.host }}</td>
        <td>
            <span class="badge badge-warning"><abbr title="The Peer has not accept your request">Pending</abbr></span>
            <span class="badge badge-success">Online</span>
            <span class="badge badge-inverse">Offline</span>
        </td>
        <td>
            <p>
              <button class="btn btn-small btn-primary" type="button"><i class="icon-bell icon-white"></i> Call</button>
              <button class="btn btn-small btn-warning" type="button"><i class="icon-edit icon-white"></i> Edit</button>
              <button class="btn btn-small btn-danger" type="button"><i class="icon-remove-sign icon-white"></i> Delete</button>
            </p>
        </td>
    </tr>
    {% endfor %}
  </tbody>
 </table>


{% endblock %}
