{% extends "base.html" %}
{% block body_container %}

<h1>SIP Accounts</h1>

<p><a href="{{ url_for('accounts.add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> New Account</a></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Server</th>
      <th>Status</th>
      <th>Profile</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if ipv4 %}
    <tr>
      <td>Local IPv4 SIP Account</td>
      <td>studio@{{ ipv4 }}</td>
      <td><span class="label label-success">Online</span></td>
      <td>Default</td>
      <td>-</td>
    </tr>
    {% endif %}
    {% if ipv6 %}
    <tr>
      <td>Local IPv6 SIP Account</td>
      <td>studio@{{ ipv6 }}</td>
      <td><span class="label label-success">Online</span></td>
      <td>Default</td>
      <td>-</td>
    </tr>
    {% endif %}
    {% for account in accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.username }}@{{ account.server }}</td>
        {% if status[account.id] %}
        <td><span class="label label-success">Online</span></td>
        {% else %}
        <td><span class="label label-danger">Offline</span></td>
        {% endif %}
        <td>Default</td>
	<td>
            <p>
            <a href="/accounts/edit/{{ account.id }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
	    {% if not account.provisioning %}
            <a href="/accounts/delete/{{ account.id }}" class="btn btn-danger btn-sm delete-button"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
	    {% endif %}
	    </p>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
 $(document).ready(function() {
     $('.delete-button').click(function() {
         var answer = confirm("Are you sure you want delete this item?");
         if (answer) {
             return true;
         } else {
             return false;
         }
     });
 });
</script>
{% endblock %}
