# SIP accounts - one account per line
#
# Displayname <sip:user:password@domain;uri-params>;addr-params

<sip:studio:studio@lan>;regint=0;ptime={{ ptime }}
{%- for account in accounts %}
<sip:{{ account.username }}:{{ account.password }}@{{ account.server }}>;ptime={{ ptime }}
{%- endfor %}
