{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Studio Connect{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
{% endblock %}

{% block scripts %}
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/events.js"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Studio Connect</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {%- for endpoint, caption, logo in [
                ('index', 'Home', 'glyphicon-home'),
                ('calls.index', 'Call', 'glyphicon-earphone'),
                ('accounts.index', 'Accounts', 'glyphicon-transfer'),
                ('mixers.index', 'Mixers', 'glyphicon-volume-up'),
                ] %}
                <li{% if endpoint == request.endpoint %} class=active{% endif %}>
                <a href={{ url_for(endpoint) }}>
                    <span class="glyphicon {{ logo }}"></span> {{ caption }}
                </a>
                </li>
                {%- endfor %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span> System <b class="caret">
                </b></a>
                <ul class="dropdown-menu">
                    <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><span class="glyphicon
                        glyphicon-time"></span> Logging</li>
                    <li><a href="/system/log">System</a></li>
                    <li><a href="/system/log/baresip">Baresip</a></li>
                </ul>
                </li>
            </ul>
            <div class="navbar-header navbar-right">
                <p class="navbar-text" id="oncall" style="display:none;">
                <a href="#"><span class="glyphicon glyphicon-phone-alt"></span> 
                    00:00 sip@studio
                </a>
                </p>  
            </div>
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ msg }}
    </div>
    {% endfor %}
    <div id="content">
    {% block body_container %}{% endblock %}
    </div>
    <hr />
    <footer>© 2013-2014 <a href="http://studio-connect.de">Studio Connect</a> Version: 14.4.0-dev</footer>
</div>
{% endblock %}
