<div class="container-fluid">
	<div class="row">
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">1</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">2</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">3</a>
	</div>
	<div class="row">
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">4</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">5</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">6</a>
	</div>
	<div class="row">
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">7</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">8</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">9</a>
	</div>
	<div class="row">
	        <a class="btn btn-default btn-lg col-xs-4" href="#" role="button"><span class="glyphicon glyphicon-asterisk"></span></a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">0</a>
		<a class="btn btn-default btn-lg col-xs-4" href="#" role="button">#</a>
	</div>
</div>
