{% extends "base.html" %}
{% block body_container %}

<h1>{{ _('Dashboard') }}</h1>

<div class="row">
    <div class="well col-md-6">{{ uptime }}</div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger reboot-button" href="{{ url_for('system.shutdown') }}"><span class="glyphicon glyphicon-off"></span> shutdown</a>
        <a class="btn btn-danger reboot-button" href="{{ url_for('system.reboot') }}"><span class="glyphicon glyphicon-refresh"></span> reboot</a>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.reboot-button').click(function() {
            var answer = confirm("Are you sure you want to shutdown/reboot?");
            if (answer) {
                return true;
                } else {
                return false;
            }
        });
    });
</script>


{% endblock %}
