{% extends "base.html" %}
{% block body_container %}

{% if not mount_failed %}

<p>
    {% if not capture_status %}
	<a href="/recording/start" class="btn btn-danger">START REC  <span class="glyphicon glyphicon-record"></span></a>
    {% else %}
	<a href="/recording/stop" class="btn btn-danger">STOP REC  <span class="glyphicon glyphicon-record"></span></a>
    {% endif %}
</p>

<table class="table table-striped">
        <thead>
                <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Duration</th>
                        <th>Actions</th>
                </tr>
        </thead>
        <tbody>
		{% for file, value in files.items()|sort(reverse=True) recursive %}
                <tr>
                        <td>
			{% if file != playback %}
				<a href="/recording/start_play/{{file}}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-play"></span>
                        </a>
			{% else %}
	                        <a href="/recording/stop_play" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-stop"></span>
                        </a>
			{% endif %}

                        </td>
			<td>{{file}}</td>
			<td>{{value.date}}</td>
			<td>{{value.duration_min}}:{{value.duration_sec}}</td>
			<td>
				<a href="/media/{{file}}" class="btn btn-info btn-xs">
				<span class="glyphicon glyphicon-floppy-save"></span> Download
				</a>
				<a href="/recording/delete/{{file}}" class="btn btn-danger btn-xs">
				<span class="glyphicon glyphicon-floppy-remove"></span> Delete
				</a>
			</td>
                </tr>
		{% endfor %}
        </tbody>
</table>

{% else %}
Please insert a SDCARD ...
{% endif %}
{% endblock %}
