{% extends "base.html" %}
{% block body_container %}

<h1>Audio Routing</h1>
<div class="table-responsive">
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			{% for port in inports %}
			<th>{{ port }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for port in outports %}
		<tr>
			<td>{{ port }}</td>
			{% for port in inports %}
			<td>
			{% for c_port, c_value in connects.items() %}

				{% if c_port == port %}
					{% if c_value %}
					<input type="checkbox" checked />
					{% else %}
					<input type="checkbox" />
					{% endif %}
				{% endif %}

			{% endfor %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>

</table>
</div>
{% endblock %}
