{% extends "base.html" %}
{% block body_container %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Device</a></li>
    <li><a href="#update" data-toggle="tab">Update</a></li>
    <li><a href="#password" data-toggle="tab">Password</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home"><br />{{ wtf.quick_form(form, action) }}</div>
    <div class="tab-pane" id="update">
        {% if (platform == "armv7l") %}
        Make updates
        {% else %}
        No autoupdate available for this platform
        {% endif %}
    </div>
    <div class="tab-pane" id="password"><br />{{ wtf.quick_form(form_password) }}</div>
</div>

{% endblock %}
